@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>CustomerID : @Model.CustomerId</h1>
    <h1>UserId : @Model.UserId</h1>
</div>
